[submodule "TJHSST-Web-Dev"]
	path = TJHSST-Web-Dev
	url = https://github.com/anishs37/TJHSST-Web-Dev
[submodule "TJHSST-Foundations-CS"]
	path = TJHSST-Foundations-CS
	url = https://github.com/anishs37/TJHSST-Foundations-CS
[submodule "TJHSST-APCS"]
	path = TJHSST-APCS
	url = https://github.com/anishs37/TJHSST-APCS
[submodule "TJHSST-AI-2"]
	path = TJHSST-AI-2
	url = https://github.com/anishs37/TJHSST-AI-2
[submodule "TJHSST-Mobile-Dev"]
	path = TJHSST-Mobile-Dev
	url = https://github.com/anishs37/TJHSST-Mobile-Dev
[submodule "TJHSST-AI-1"]
	path = TJHSST-AI-1
	url = https://github.com/anishs37/TJHSST-AI-1
